* {
	margin: 0;
	padding: 0;
}
body {
	font-size:1.2em;
	background-color:#fafafa;
	color:#555;
}
p{
	padding:0 0 20px 0;
	line-height:1.7em;
}
h1,h2{
	font:normal 170% 'century gothic' arial;
	margin: 0 0 15px 0;
	padding: 15px 0 5px 0;
	color:#000;
}
h2{
	font-size:140%;
}
h4{
	font:bold 1em sans-serif;
}
hr{
	border:solid 1px #f4eacef9;
	margin: 10px 0 10px 0;
}
a,a:hover{
	outline:none;
	text-decoration: underline;
}
a{
	color:black;
}
a:hover{
	color:red;
}
ul{
	margin:2px 0 22px 17px;
}
ul li{
	margin:0 0 6px 0;
	padding:0 0 4px 5px;
	line-height: 1.5em;
}
.content_hate h1{
	font: bold 1.5em  sans-serif;
	text-align:center;
}
.content_best h1{
	font: bold 2em  sans-serif;
	text-align:center;
}
.header {
	background-image:url("C:/project/assets/img/5.jfif");
	background-size: auto 190px;
	height:190px;
	font-size: 0.8em;
	margin-left: 0px;
	margin-right: 0px;
	min-width: 900px;
}
.main,.logo,.menubar,.site_content,.footer {
	margin-left: auto;
	margin-right: auto;
}
.logo {
	width:1000px;
	padding-bottom: 40px;
}
.logo h1, .logo h2 {
	font:normal 300% 'century gothic', arial, sans-serif;
	margin:0 0 0 0;
}
.logo_text h1, .logo_text h1 a, .logo_text h1 a:hover {
	padding:22px 0 0 0;
	color: black;
	letter-spacing: 0.1em;/*интервал между символами*/
	text-decoration: none;/*стилизация ссылок(вроде)*/
}
.logo_text h2{
	font-size: 0.9em;
	padding:4px 0 0 0;
	color: #6e6e6e;	
}
.menubar {
	width:900px;
	height:46px;
}
ul.menu {
	float:center;/*прижать элемент к правому краю*/
}
ul.menu li {
	float:left;
	padding: 0 0 0 9px;
	list-style: none;
	margin:1px 2px 0 0;
}
ul.menu li a {
	font:normal 100% 'trebuchet ms', sans-serif;
	display: block;
	height:20px;
	padding:6px 35px 5px 28px;
	color: black;
	text-decoration: none; 
}
ul.menu li.selected a{
	color: #545441d7;
}
ul.menu li a:hover {
	color:grey;	
	transform: scale(1.2);
}
ul.posts{
	font:italic 0.75em sans-serif;
	margin:20px 0 10px 0;
}


.content {
	text-align: left;
	width: 800px;
	padding:40px 40px 40px 40px;
	width: 880px;
 	overflow:hidden;
 	margin: 20px auto 30px auto;
	background-color:#fff;
	border-radius: 40px;
	border:1px solid #e0e0e0;
}
.content_love {
	text-align: left;
	width: 60%;
	overflow:hidden;
	padding:40px 5% 40px 40px;
 	margin: 20px auto 30px auto;
	background-color:#f7fff8c9;
	border-radius: 40px;
	border:1px solid #e0e0e0;
}
.content_hate{
	text-align: left;
	overflow:hidden;
	padding:40px 5% 40px 40px;
	width: 60%;
 	margin:20px auto 20px auto;
	background-color:#f2f5f3;
	border-radius: 40px;
	border:1px solid #e0e0e0;
	
}
.content_best {
	text-align: left;
	width: 800px;
	padding:40px 40px 40px 40px;
	width: 880px;
 	margin: 20px auto 30px auto;
	background-color:#F9F1F8;
	border-radius: 40px;
	border:1px solid #e0e0e0;
}
.soder{
	float:right;
	background-color: #e9e9f22c;
	margin-top:30px;
	margin-right:30px;
	margin-left:10px;
	padding-left:20px;
	padding-top:10px;
	padding-right:10px;
	border:1px solid #cacafc;
	border-radius: 5px;
}
.sod{
	float:right;
	background-color: #e3ffe6f5;
	margin-top:30px;
	margin-right:50px;
	margin-left:10px;
	padding-left:20px;
	padding-top:10px;
	padding-right:10px;
	border:1px solid #cacafc;
	border-radius: 5px;
	color:#1e8a29f5;
}
.block{
	background-color: #e1e5e29b;
	margin-top:10px;
	margin-bottom: 10px;
	padding-left: 10px;
	padding-right:10px;
	border-left:2px solid green;
	display:block;
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
}
.block img{
	float:left;
	margin-right:20px;
	border:1px solid #99e0a5;
	border-radius:10px;
}
.blok{
	background-color: #e6fcea;
	border-right:2px solid #d6d6d6;
	margin-top:10px;
	margin-bottom: 10px;
	padding-left: 10px;
	padding-right:10px;
	border-left:2px solid green;
	display:block;
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
}
.blok img{
	float:right;
	border:1px solid #a3ffac;
	border-radius:10px;
}
.soder h3{
	text-align: center;
}
ul.sleva{
	list-style-type: decimal;
}
ul.sleva li a{
	color:#8d8dcc;
	font-size:100%;
}
ul.sleva li a:hover{
	color:red;
}
ul.ul_love li a{
	color:#1e8a29f5;
}
ul.ul_love li a:hover{
	color:red;
}
.content img{
	
	border-radius: 5%;
	border:solid 2px #dad7d5;
	margin-right: 40%;
}
.content a{
	text-decoration:none;
}
.first{
	margin-bottom: 5%;
}
table h3{
	text-align:center;
}

.footer{
	width:100%;
	height:100px;
	padding:14px 0 28px 0;
	text-align: center;
	background-image:url("C:/project/assets/img/5.jfif");
	background-size: auto 100px;
	color: black;
	margin-left:0px;
	margin-right:0px;
	min-width: 900px;
	font-size:0.8em;
}
.footer p{
	margin-top:1%;
	margin-bottom: 0;
}
